html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E4F0D0;
    font-family: 'Work Sans', sans-serif;
    /* align-self: center; */
    padding: 3%;
    justify-items: center;
    height: 530px;
}
.background{
    justify-items: center;
    background: #405E3B;
    padding: 50px;
    
    height: 500px;
    width: 100%;
    border-radius: 20px;
}
.items{
    align-items: center;
}
#title {
    display: flex;
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: pre;
    overflow: hidden;     
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    max-width: 480px;
    font-family: 'allura',cursive;
    font-size: 48px;
    font-weight: bolder;
    animation: jump 1.5s ease-in-out infinite;
}

#input{
    min-width: 500px;
    padding: 10px;
    font-size: 17px;
     border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    border: none;

}
form{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    transition: background-color 200ms ease-in-out;
}
.btn{
    background-color: #8CA17A;
    color: white;
    padding:10px;
    font-size: 17px;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
#title span{
    display: inline-block;
    animation: jump 2.5s ease-in-out infinite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#title span:nth-child(1) {
    animation-delay: 0.5s;
}
#title span:nth-child(2) {
    animation-delay: 0.8s;
}
#title span:nth-child(3){
    animation-delay: 1s;
}
@keyframes jump{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.my-unordered-list{
    margin-top: 20px ;
}
/*.todo-list{
    list-style: none;
     background: white; 
    text-decoration: dotted;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}*/
.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-bottom: 2px dotted white;
}

/* the task text */
.todo-text{
    flex: 1;
    color:#111111;
    font-size: 18px;
}

/* Buttons */
.checked-btn, .delete-btn {
    width: 32px;
    height: 32px;
    border: 2px solid #293c25;
    background: transparent;
    /* border-radius: 6px; */
    font-size: 18px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* adding small spacing */
.checked-btn{
    margin-right: 10px;
}
.delete-btn{
    margin-left: 10px;
}
.completed {
    text-decoration: line-through;
    opacity: 0.7;
}
.my-unordered-list{
    max-height: 250px;
    overflow: auto;
    padding-right: 10px;
}
/* scroll bar styling */
.my-unordered-list::-webkit-scrollbar{
    width: 6px;
}

.my-unordered-list::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.my-unordered-list::-webkit-scrollbar-thumb{
    background: #8CA17A;
    border-radius: 20px;
    border: 2px solid #2f452c;
}

.my-unordered-list::-webkit-scrollbar-thumb:hover{
    background: #7A8F69;
}

.my-unordered-list{
    scrollbar-width: thin;
    scrollbar-color: #8CA17A;
}



